body {
  width: 100%;
}

[class*="col-"] {
  float: left;
  min-height: 1px;
}

@media (max-width: 767px) {
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
  header nav ul {
    float: none;
  }
  header nav ul li {
    display: none;
  }
  .hero {
    width: 100vw;
  }
}

@media (min-width: 768px) {
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }
  .col-offset-0 {
    margin-left: 0;
  }
  .col-m-offset-1 {
    margin-left: 8.33%;
  }
  .col-m-offset-2 {
    margin-left: 16.66%;
  }
  .col-m-offset-3 {
    margin-left: 25%;
  }
  .col-m-offset-4 {
    margin-left: 33.33%;
  }
  .col-m-offset-5 {
    margin-left: 41.66%;
  }
  .col-m-offset-6 {
    margin-left: 50%;
  }
  .col-m-offset-7 {
    margin-left: 58.33%;
  }
  .col-m-offset-8 {
    margin-left: 66.66%;
  }
  .col-m-offset-9 {
    margin-left: 75%;
  }
  .col-m-offset-10 {
    margin-left: 83.33%;
  }
  .col-m-offset-11 {
    margin-left: 91.66%;
  }
}

.header {
  background-image: url("../images/background-image.jpg");
  width: 1400px;
  height: 700px;
}

.header nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: right;
}

.header nav ul li {
  display: inline-block;
  text-decoration: none;
}

.header nav ul li a {
  padding: 0 20px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.header nav ul li a:hover {
  background-color: #ccc;
}

.header nav img {
  padding: 10px 0;
}

.header h3 {
  height: 32px;
  color: #ffffff;
  font-family: "Droid Serif";
  font-size: 40px;
  font-style: italic;
  letter-spacing: -1px;
  text-align: center;
  margin-top: 200px;
}

.header h2 {
  height: 55px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1.88px;
  text-align: center;
}

.header .button {
  width: 240px;
  height: 60px;
  display: block;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 70px auto;
}

.title {
  height: 30px;
  color: #222222;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 75px;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-align: center;
  margin-top: 60px;
}

.smalltitle {
  width: 296px;
  height: 17px;
  color: #777777;
  font-family: "Droid Serif";
  font-size: 16px;
  font-style: italic;
  text-align: center;
  margin: 50px auto;
  display: block;
}

.smallheader {
  display: block;
  height: 14px;
  color: #222222;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.45px;
  text-align: center;
  margin: 20px auto;
}

.icon {
  display: block;
  width: 67px;
  height: 67px;
  border: 3px solid #fed136;
  border-radius: 50%;
  padding: 13px;
  background-color: #ffffff;
  margin: auto;
}

.portfolio p {
  text-align: center;
  margin-bottom: 30px;
}

.services .continer .row {
  /*.services-text{
                font-family: "Droid Serif";
                font-size: 18px;
                font-weight: 700;
                font-style: italic;
                letter-spacing: -0.45px;  
                margin: 0 auto;
                padding: 0 10px;
            }*/
}

.services .continer .row img {
  text-align: center;
}

.timeline {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.timeline .item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: top;
      align-items: top;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.timeline .item .text {
  -ms-flex: 1;
      flex: 1;
  -ms-flex-order: 1;
      order: 1;
  height: 101px;
  color: #777777;
  font-family: "Roboto Slab";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.35px;
}

.timeline .item .text:nth-child(even) {
  text-align: right;
}

.timeline .item .image {
  -ms-flex: 1;
      flex: 1;
  -ms-flex-order: 2;
      order: 2;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 7px solid #f1f1f1;
  background-color: #fed136;
  margin-top: 20px;
}

.timeline .item:even .text {
  -ms-flex-order: 2;
      order: 2;
}

.timeline .item:even .image {
  -ms-flex-order: 1;
      order: 1;
}

.picture {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 7px solid #f1f1f1;
  background-color: #fed136;
}

.picture p {
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  width: 107px;
  height: 94px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
  color: #ffffff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.45px;
}

.image {
  -ms-flex: 1;
      flex: 1;
  -ms-flex-order: 2;
      order: 2;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 7px solid #f1f1f1;
  background-color: #fed136;
  margin-top: 20px;
}

.socialm {
  background-color: #000000;
  border-radius: 50%;
  width: 42px;
  height: 42px;
}

.team {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.dot {
  width: 221px;
  height: 221px;
  border: 7px solid #ffffff;
  background-color: #111111;
  border-radius: 50%;
}

.formularz {
  background-color: #222222;
  height: 500px;
}

.formularz .title {
  color: #fff;
}

.formularz .smalltitle {
  color: #787878;
}

.formularz .formularz-flex {
  display: -ms-flexbox;
  display: flex;
}

.formularz .formularz-flex .email-text {
  -ms-flex-direction: column;
      flex-direction: column;
}

.formularz .formularz-flex .email-text .name {
  margin: 0 20px 0 250px;
  border-radius: 10%;
}

.formularz .formularz-flex .email-text .name-2 {
  margin: 20px  20px 20px 250px;
  border-radius: 10%;
}

.formularz .formularz-flex .textarea {
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-positive: 2;
      flex-grow: 2;
  -ms-flex-align: space-between;
      align-items: space-between;
  margin: 0 250px 0 0;
  border-radius: 10%;
}

.formularz .button {
  display: block;
  margin: 40px auto;
}

.fab {
  width: 30px;
  height: 30px;
  background: #222222;
  border-radius: 50%;
  border: 5px solid #222222;
  color: #ccc;
  padding: 3px;
  float: left;
}
/*# sourceMappingURL=style.css.map */