
body {
    width: 100%;
    max-width: 1200px;
}
[class*="col-"] {
	float: left;
	min-height: 1px;
}
@media (max-width: 767px){
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    
    header {
    	nav {
    		ul {
    			float: none;
    			li {
    				display: none;
    			}
    		}
    	}
    }	
	
	.hero {
		width: 100vw;
	}
}

@media (min-width: 768px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
    
    .col-offset-0 {margin-left: 0;}
	.col-m-offset-1 {margin-left: 8.33%;}
	.col-m-offset-2 {margin-left: 16.66%;}
	.col-m-offset-3 {margin-left: 25%;}
	.col-m-offset-4 {margin-left: 33.33%;}
	.col-m-offset-5 {margin-left: 41.66%;}
	.col-m-offset-6 {margin-left: 50%;}
	.col-m-offset-7 {margin-left: 58.33%;}
	.col-m-offset-8 {margin-left: 66.66%;}
	.col-m-offset-9 {margin-left: 75%;}
	.col-m-offset-10 {margin-left: 83.33%;}
	.col-m-offset-11 {margin-left: 91.66%;}
    
}
.header {
    background-image: url("../images/background-image.jpg");
    width: 1400px;
    height: 700px;
    nav {
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			float: right;
			li {
				display: inline-block;
				a {
					height: 50px;
					padding: 0 20px;
					display: inline-block;
					color: #fff;
                    text-decoration: none;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 400;
					text-transform: uppercase;
					    &:hover {
						    background-color: #ccc;
					    }	
				}
			}
        }
        img {
            padding: 10px 0;
        }	
    }
    h3 {
        width: 430px;
        height: 32px;
        color: #ffffff;
        font-family: "Droid Serif";
        font-size: 40px;
        font-style: italic;
        letter-spacing: -1px;
        text-align: center;
    }
    h2 {
        width: 844px;
        height: 55px;
        color: #ffffff;
        font-family: Montserrat;
        font-size: 75px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -1.88px;
        text-align: center;
        padding: auto;
    }
    .button {
        color: #ffffff;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
    }
}
.title {
    height: 30px;
    color: #222222;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 75px;
    text-transform: uppercase;
    letter-spacing: -1px;
    text-align: center;
}
.smalltitle {
    width: 296px;
    height: 17px;
    color: #777777;
    font-family: "Droid Serif";
    font-size: 16px;
    font-style: italic;
    text-align: center;
    margin: 30px auto;
  }
  
  .smallheader {
    height: 14px;
    color: #222222;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.45px;
    text-align: center;
  }

.icon {
    width: 67px;
    height: 67px;
    border: 3px solid #fed136;
    border-radius: 50%;
    padding: 13px;
    background-color: #ffffff;
    margin: auto;
}

.picture {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 7px solid #f1f1f1;
    background-color: #fed136;
    p {
        -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    width: 107px;
    height: 94px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.45px;
    }
  }
.services {
    .continer {
        .row {
            img {
                text-align: center;
            }
        }
    }
}

.timeline {
    display: flex;
    flex-direction: column;

   .item {
       display: flex;
       align-items: top;
       justify-content: space-around;

       
       .text {
        flex: 1;
        order: 1;
        height: 101px;
        color: #777777;
        font-family: "Roboto Slab";
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.35px;
            &:nth-child(even){
                text-align: right;
            }
       }

       .image {
            flex: 1;
            order: 2;
            width: 170px;
            height: 170px;
            border-radius: 50%;
            border: 7px solid #f1f1f1;
            background-color: #fed136;
            margin-top: 20px;
       }

       &:even {
           .text {
               order: 2;
           }
           .image{
               order: 1;
           }
       }
   }
}
.image {
    flex: 1;
    order: 2;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 7px solid #f1f1f1;
    background-color: #fed136;
    margin-top: 20px;
  }
  .socialm {
    background-color: #000000;
    border-radius: 50%;
    width: 42px;
    height: 42px;
  }
  .team{
    display: flex;
    justify-content: space-around;
  }
  .dot {
    width: 221px;
    height: 221px;
    border: 7px solid #ffffff;
    background-color: #111111;
    border-radius: 50%;
  }
  .formularz{
    display: flex;
    background-color: #222222;
    height: 500px;
        .title {
            color:#fff
        }
        .smalltitle {
            color:#787878;
        }
      .email-text {
        flex-direction: column;
        align-items: center;    
      }
      .textarea {
        flex-direction: column;
        flex-grow: 2;
        align-items: center;
      }
  }