
body {
    width: 100%;
    max-width: 1200px;
}
[class*="col-"] {
	float: left;
	min-height: 1px;
}
@media (max-width: 767px){
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    
    header {
    	nav {
    		ul {
    			float: none;
    			li {
    				display: none;
    			}
    		}
    	}
    }	
	
	.hero {
		width: 100vw;
	}
}

@media (min-width: 768px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
    
    .col-offset-0 {margin-left: 0;}
	.col-m-offset-1 {margin-left: 8.33%;}
	.col-m-offset-2 {margin-left: 16.66%;}
	.col-m-offset-3 {margin-left: 25%;}
	.col-m-offset-4 {margin-left: 33.33%;}
	.col-m-offset-5 {margin-left: 41.66%;}
	.col-m-offset-6 {margin-left: 50%;}
	.col-m-offset-7 {margin-left: 58.33%;}
	.col-m-offset-8 {margin-left: 66.66%;}
	.col-m-offset-9 {margin-left: 75%;}
	.col-m-offset-10 {margin-left: 83.33%;}
	.col-m-offset-11 {margin-left: 91.66%;}
    
}
.header {
    background-image: url("images/background-image.jpg");
    width: 1400px;
    height: 700px;
    background-color: #000000;
    opacity: 0.5;

    nav {
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			float: right;
			li {
				display: inline-block;
				a {
					height: 50px;
					padding: 0 20px;
					display: block;
					color: #fff;
					text-decoration: none;
					text-transform: uppercase;
					&:hover {
						background-color: #ccc;
					}	
				}
			}
		}	
    }
    h3 {
        width: 430px;
        height: 32px;
        color: #ffffff;
        font-family: "Droid Serif";
        font-size: 40px;
        font-style: italic;
        letter-spacing: -1px;
        text-align: center;
    }
    h2 {
        width: 844px;
        height: 55px;
        color: #ffffff;
        font-family: Montserrat;
        font-size: 75px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -1.88px;
    }
    button {
        color: #ffffff;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
    }
}
.title {
    height: 30px;
    color: #222222;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 75px;
    text-transform: uppercase;
    letter-spacing: -1px;
    text-align: center;
}
.icon {
    width: 68px;
    height: 67px;
    border: 3px solid #fed136;
    border-radius: 50%;
    background-color: #ffffff;
}
.services {
    .continer {
        .row {
            img {
                text-align: center;
            }
        }
    }
}
.picture {
    display: flex;
    justify-content: center;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 7px solid #f1f1f1;
    background-color: #fed136;
    p {
        justify-content: center;
        align-items: center;
        width: 107px;
        height: 94px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
        color: #ffffff;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -0.45px;
    }
}

    .image {
        margin-top: 20px;
        float: right;
        align-items: center;
    }
    .left {
        float: left;
    }
    .picture {
        text-align: center;

    }
}